.row {
    display: flex;
    flex: 1;
}

.box {
    border: 1px solid green;
    background-color: white;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}

body {
    display: flex;
    flex-direction: column;
}

#clear {
    width: 100px;
    margin-bottom: 10px;
}